<div class="ui small inverted menu">

  <div class="ui container">
    <a class="item">
        BatePapo
    </a>
    <a class="item">
        Mensagens
    </a>

    <div class="right menu">
      <div class="ui dropdown item">
        Opções <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Sair</a>
          <a class="item">Logar</a>
          <a class="item">Criar Conta</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>

  </div>
</div>